body{
  font-family: sans-serif;
  background-color: #22d694;
}
header{
    background-color: #059661;
    text-align: center;
    padding: 10px;
}
div{
    display: flex;
    margin: 10px;
    padding: 5px;
}
img{
    padding:15px;
}
li{
    padding: 5px;
}
iframe{
     padding:15px;
}
